* {
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
    color: crimson;
    font-size: 20px;
    letter-spacing: 2px;
}
.title {
    font-size: 50px;
    text-decoration: none;
    color:wheat;
}
nav {
    display:flex; justify-content: space-evenly; align-items: center;
    background-color: black;
}
.link:hover {
    background-color:coral;
}
.kutu {
    display: inline-block;
    background-color: white;
}
.brand {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
h1{
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    color:coral;
}
.button {
    background-color:black;
    color:wheat;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: 3px  solid black;
}
.yirmi-px {
    font-size: 20px;
    text-decoration: none;

}
footer {
    background-color:darkgrey;
    margin-top: 40px;
    padding-top: 20px;
    display: flex;
}
p {
    font-size: 20px;
}